@charset "UTF-8";
@font-face {
  font-family: 'GagalinRegular';
  src: url("../fonts/GagalinRegular/GagalinRegular.woff2") format("woff2"), url("../fonts/GagalinRegular/GagalinRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack_Medium';
  src: url("../fonts/Lifehack_Medium/Lifehack_Medium.woff2") format("woff2"), url("../fonts/Lifehack_Medium/Lifehack_Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-light/Ubuntu-light.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-light/Ubuntu-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-regular/Ubuntu-regular.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-regular/Ubuntu-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-medium/Ubuntu-medium.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-medium/Ubuntu-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-b/Ubuntu-b.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-b/Ubuntu-b.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, sans-serif;
  line-height: 1.42;
  position: relative; }

.body__active-menu {
  overflow: hidden; }

body, html {
  height: 100%; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 20rem; }

.maincontent {
  height: 100%;
  min-height: 40.625rem; }
  @media screen and (max-width: 768px) {
    .maincontent {
      height: initial; } }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 40.625rem;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }
  @media screen and (max-width: 768px) {
    .section {
      height: auto;
      overflow: hidden; } }

.container {
  margin: 0 auto;
  max-width: 58.75rem;
  width: 95%;
  height: 100%;
  /*border: 2px solid green;*/
  padding: 0 0.625rem;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.btn {
  color: #ffffff;
  min-width: 6.25rem;
  display: inline-block;
  border-radius: 7px;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  text-decoration: none; }

.section__title {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-family: 'GagalinRegular';
  margin: 0;
  line-height: 1; }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 3.125rem; } }

.first-screen {
  background: url("../images/bg/salat_bg.jpg") center center/cover no-repeat; }

.container-first {
  height: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.header {
  width: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.625rem; }

.header__logo {
  margin-right: auto;
  width: 7.5rem;
  height: 7.5rem; }

.logo__link {
  display: inline-block;
  width: 100%;
  height: 100%; }

.logo__image {
  max-width: 100%;
  position: relative;
  z-index: 1001; }

.header__menu {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  @media screen and (max-width: 768px) {
    .header__menu {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #2f3234;
      z-index: 100;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-pack: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%); } }

.menu__item {
  margin-right: 1.25rem;
  position: relative; }
  .menu__item::before {
    position: absolute;
    top: 0.0625rem;
    left: -0.8125rem;
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    /* Цвет маркера */
    content: "\2022 ";
    /* Сам маркер */
    padding-right: 0.625rem; }
  .menu__item:hover {
    color: #e45028;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  @media screen and (max-width: 768px) {
    .menu__item {
      margin-right: 0;
      margin-bottom: 2.5rem;
      width: 9.375rem;
      text-align: center; }
      .menu__item::before {
        top: -2.1875rem;
        left: 4.4375rem;
        font-size: 1.5rem; } }

.header__menu .menu__item:first-child:before {
  content: " ";
  /* Сам маркер */ }

.menu__link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.8125rem; }
  @media screen and (max-width: 768px) {
    .menu__link {
      font-size: 1.5rem; } }

.menu__link:hover {
  color: #e45028;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.btn__header {
  background-color: #e45028; }
  .btn__header:hover {
    background-color: #c1401e; }

/*********************   Гамбургер меню     *********************/
.dropdown__menu {
  display: none;
  cursor: pointer;
  margin-left: 1.5625rem; }
  @media screen and (max-width: 768px) {
    .dropdown__menu {
      display: block; } }

.drop {
  display: block;
  width: 1.5625rem;
  height: 0.3125rem;
  background: #ffffff;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem; }

.close {
  /***********КРЕСТИК**********/
  z-index: 1001;
  display: none; }
  .close a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.5rem; }

/**************АКТИВНОЕ МЕНЮ**************************/
.header__menu-active .header__menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

.header__menu-active .dropdown__menu {
  display: none; }

.header__menu-active .close {
  display: block; }

.header__menu-active .header__btn {
  display: none; }

/********************************************************/
.header__content {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.3125rem; }
  @media screen and (max-width: 768px) {
    .header__content {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column; } }

.content__burgers {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.content__image {
  max-width: 100%; }

.content__text {
  margin-left: 1.25rem;
  margin-top: 3.75rem;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.section__title-yellowF {
  color: #f9b43b;
  margin-bottom: 1.875rem;
  text-align: left; }
  @media screen and (max-width: 768px) {
    .section__title-yellowF {
      margin-bottom: 1.25rem;
      text-align: center; } }

.header__subtitle {
  font-size: 4.0625rem;
  color: #ffffff;
  font-family: 'Lifehack_Medium';
  text-transform: lowercase;
  display: inline-block;
  margin-top: 0;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .header__subtitle {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .header__subtitle {
      font-size: 3.25rem; } }

.arrow {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-bottom: 2.1875rem; }

.advantages {
  background: url("../images/bg/bg2.jpg") center center/cover no-repeat;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center; }

.advantages__company {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.section__title-grey {
  text-align: center;
  color: #2f3234;
  margin-bottom: 2.75rem;
  margin-top: 0.625rem; }

.company__differences {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  @media screen and (max-width: 480px) {
    .company__differences {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column; } }

.difference {
  width: 33.333%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3.125rem;
  padding: 0 0.9375rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .difference {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 100%;
      text-align: left;
      margin-bottom: 1.25rem; } }

.difference__img {
  width: 7.5rem;
  height: 6.25rem; }
  @media screen and (max-width: 480px) {
    .difference__img {
      -webkit-box-flex: 0;
      -ms-flex: 0 3 30%;
      flex: 0 3 30%; } }

.difference__image {
  margin-bottom: 1.625rem;
  max-width: 100%;
  height: auto; }
  .difference__image:last-child {
    margin-bottom: 0; }

@media screen and (max-width: 480px) {
  .difference__texts {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%;
    margin-left: 0.9375rem; } }

.difference__title {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Lifehack_Medium';
  color: #2f3234; }
  @media screen and (max-width: 480px) {
    .difference__title {
      font-size: 1.25rem;
      line-height: 1.4; } }

.difference__text {
  font-size: 0.875rem;
  font-weight: 300;
  color: #838281;
  line-height: 1.6; }
  @media screen and (max-width: 480px) {
    .difference__text {
      margin: 0.625rem 0; } }
  .difference__text p {
    margin: 0; }

.slider {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #f9b43b), color-stop(65%, #eb8d38), to(#f9b43b));
  background: -webkit-linear-gradient(top, #f9b43b 25%, #eb8d38 65%, #f9b43b 100%);
  background: -o-linear-gradient(top, #f9b43b 25%, #eb8d38 65%, #f9b43b 100%);
  background: linear-gradient(to bottom, #f9b43b 25%, #eb8d38 65%, #f9b43b 100%); }

.slider__wrap {
  position: relative;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 1.25rem 0; }
  @media screen and (max-width: 768px) {
    .slider__wrap {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .slider__wrap {
      height: 100%; } }

.slaider__befor {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0; }
  @media screen and (max-width: 768px) {
    .slaider__befor {
      top: 42%; } }

.befor__link-icon {
  fill: #ffffff;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.slaider__after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0; }
  @media screen and (max-width: 768px) {
    .slaider__after {
      top: 42%; } }

.after__link-icon {
  fill: #ffffff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.slaider__item {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .slaider__item {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column; } }

.slaider__images {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: relative;
  /*border: 1px solid green;*/
  width: 46%; }
  @media screen and (max-width: 768px) {
    .slaider__images {
      width: 100%;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.image__burger {
  text-align: center;
  width: 31.5625rem;
  max-width: 98%; }
  @media screen and (max-width: 480px) {
    .image__burger {
      width: 45%;
      padding-top: 6.25rem; } }

.menu__burgers {
  position: absolute;
  top: 0;
  left: 1.25rem;
  width: 5.625rem;
  height: 5.625rem;
  background: #f08c33;
  border-radius: 0.5rem;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center; }

.burger__link-image {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  height: auto; }

.burger__link-icon {
  fill: #ffffff; }

.burger__link-text {
  text-align: center;
  margin-top: 0.125rem;
  color: #ffffff;
  font-family: 'GagalinRegular';
  font-size: 0.875rem; }

/*************************Выиадающие меню********************/
.burger__dropdown {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem;
  left: -6249.9375rem;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 10;
  padding: 1.25rem; }

.burger__dropdown-row {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.625rem; }
  .burger__dropdown-row:last-child {
    margin-bottom: 0; }

.urger__dropdown-ingredient {
  font-size: 0.75rem;
  margin-left: 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .urger__dropdown-ingredient:first-child {
    width: 3rem;
    height: 2.6875rem;
    font-size: 0;
    margin-left: 0; }
  .urger__dropdown-ingredient:last-child {
    text-align: right; }

.burger__dropdown-close {
  color: red;
  position: absolute;
  top: 0.25rem;
  left: 16.625rem;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 100;
  display: none; }

.burger__dropdown-active {
  /*АКТИВНОЕ МЕНЮ*/ }
  .burger__dropdown-active .burger__dropdown {
    left: 100%;
    opacity: 1; }
  .burger__dropdown-active .burger__dropdown-close {
    display: block; }

/*---------------------*/
.calorie {
  position: absolute;
  width: 3.75rem;
  height: 5.625rem;
  bottom: 0;
  left: 1.25rem; }
  @media screen and (max-width: 768px) {
    .calorie {
      top: 0;
      right: 1.25rem;
      bottom: auto;
      left: auto; } }

.calorie__img {
  margin: 0;
  width: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.calorie__block {
  fill: #ffffff;
  max-width: 100%; }

.calorie__svg {
  fill: #ffffff;
  font-size: 3.125rem;
  font-family: 'GagalinRegular'; }

.calorie__text {
  text-align: center;
  margin-top: 0.125rem;
  display: block;
  color: #ffffff;
  font-family: 'GagalinRegular';
  font-size: 0.875rem; }

.slaider__composition {
  /*************БЛОК ОПИСАНИЯ********************/
  /*border: 1px solid blue;*/
  width: 46%;
  color: #ffffff;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 768px) {
    .slaider__composition {
      width: 100%;
      text-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.composition__title {
  margin-bottom: 2.8125rem; }
  @media screen and (max-width: 768px) {
    .composition__title {
      margin: 1.25rem 0; } }

.composition__burger {
  line-height: 2;
  margin-bottom: 1.875rem;
  font-size: 0.875rem; }

.composition__price {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .composition__price {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-pack: center;
      justify-content: center;
      -ms-flex-pack: center; } }

.price__order {
  font-size: 1.875rem;
  color: #e45028;
  font-family: 'GagalinRegular';
  margin-right: 1.5rem;
  line-height: 1.5625rem; }
  .price__order span {
    font-size: 4.5rem; }

.btn__slaider {
  background-color: #e45028;
  margin-top: 25px; }
  .btn__slaider:hover {
    background-color: #c1401e; }

.team {
  background: url("../images/bg/team.jpg") center center/cover no-repeat;
  position: relative;
  color: #ffffff;
  font-size: 0.875rem; }

.team__block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  /*border: 1px solid red;*/
  width: 50%;
  height: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background: rgba(47, 50, 52, 0.8); }
  @media screen and (max-width: 768px) {
    .team__block {
      width: 100%; } }

.block {
  /*border: 1px solid green;*/
  padding: 0.5rem; }

.block__title {
  color: #f9b43b;
  margin-bottom: 1.5625rem; }
  @media screen and (max-width: 480px) {
    .block__title {
      text-align: center; } }

@media screen and (max-width: 768px) {
  .workers__unit {
    text-align: center; } }

.unit {
  margin-bottom: 1.4375rem; }

.unit__active {
  /**************АКТИВНЫЙ КЛАСС********************/ }
  .unit__active .unit__title {
    color: #f9b43b; }
    .unit__active .unit__title::before {
      -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
      transform: translateY(-50%) rotate(180deg); }
  .unit__active .unit__information {
    height: auto; }

.unit__title {
  text-transform: uppercase;
  font-family: 'GagalinRegular';
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  position: relative;
  padding-left: 0.9375rem;
  -webkit-transition: all easy .5s;
  -o-transition: all easy .5s;
  transition: all easy .5s; }
  .unit__title:hover {
    color: #f9b43b; }
  .unit__title:before, .unit__title:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -0.25rem;
    width: 0;
    height: 0; }
  .unit__title:before {
    border-top: 0.4375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0rem solid transparent;
    -webkit-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .unit__title:after {
    display: none;
    border-bottom: 0.4375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0rem solid transparent; }
  @media screen and (max-width: 480px) {
    .unit__title {
      font-size: 1.5rem; } }

.unit__information {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0;
  /*Прячет блок с поворами*/
  overflow: hidden;
  margin-left: 0.625rem;
  margin-top: 0.625rem;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  @media screen and (max-width: 768px) {
    .unit__information {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column; } }

.unit__foto {
  width: 6.25rem;
  height: 6.25rem;
  /*border: 1px solid red;*/
  border-radius: 3.125rem;
  background-size: cover;
  background-position: center;
  margin-right: 0.875rem;
  margin-bottom: 0.875rem; }
  @media screen and (max-width: 768px) {
    .unit__foto {
      margin-right: 0; } }

.description__title {
  font-family: 'Ubuntu';
  font-weight: bold;
  margin-bottom: 0.875rem; }

.description__info {
  font-family: 'Ubuntu';
  font-weight: 300; }

.menu {
  background: url("../images/menu__foto/bg_burgers.jpg") center center/cover no-repeat;
  position: relative;
  color: #ffffff; }

.section__title-white {
  position: absolute;
  top: 10%;
  left: 10%; }

.nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__menu {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__menu-active {
  /*************АКТИВНЫЙ КЛАСС*******************/ }
  .nav__menu-active .nav__menu-acco::before {
    background: rgba(47, 50, 52, 0.95); }
  .nav__menu-active .nav__link {
    color: #f9b43b; }
  .nav__menu-active .nav__text {
    display: block; }

.nav__menu-acco {
  position: relative;
  width: 5rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .nav__menu-acco::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(47, 50, 52, 0.8); }

.nav__link {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: 'GagalinRegular';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotateZ(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotateZ(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.nav__text {
  display: none;
  position: relative;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  max-width: 540px;
  width: 100%;
  overflow: hidden;
  line-height: 1.8;
  font-weight: 300;
  font-size: 0.875rem;
  padding: 3.75rem 1.875rem; }
  @media screen and (max-width: 545px) {
    .nav__text {
      overflow-y: scroll; } }

.nav__text p {
  margin: 0; }

.comments {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #ffffff; }

.comment {
  width: 25%;
  height: 50%;
  position: relative; }
  @media screen and (max-width: 768px) {
    .comment {
      width: 50%;
      height: 16.0625rem;
      overflow: hidden; } }

.comment__shadow {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%; }

.comment__foto {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s; }
  .comment__foto::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(47, 50, 52, 0.55); }
  .comment__foto:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }

.comment__info {
  font-size: 0.875rem;
  text-align: left;
  padding: 15% 10%;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .comment__info:hover {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .comment__info {
      padding: 6% 3%;
      text-align: center; } }
  @media screen and (max-width: 545px) {
    .comment__info {
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-pack: center;
      justify-content: center;
      -ms-flex-pack: center; } }

.info__author {
  font-family: 'GagalinRegular';
  text-transform: uppercase;
  letter-spacing: 1.5px; }
  @media screen and (max-width: 545px) {
    .info__author {
      font-size: 1.5rem;
      margin-bottom: 0.9375rem; } }

.info__text {
  line-height: 1.8;
  font-weight: 300; }
  @media screen and (max-width: 545px) {
    .info__text {
      display: none; } }

.btn__comment {
  background-color: #2f3234;
  width: 7.1875rem; }
  .btn__comment:hover {
    background-color: #1f2122; }

.order {
  position: relative;
  background: url("../images/bg/fon_input.jpg") center center/cover no-repeat;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center; }

.order__block {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; }

.section__title-yellow {
  text-align: center;
  width: 100%;
  color: #f9b43b; }

.order__form-tag {
  width: 100%; }

.form__order {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__order {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.order__col {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 45%;
  color: #ffffff;
  padding: 1%;
  margin-right: 0.9375rem; }
  .order__col:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .order__col {
      width: 95%;
      margin-right: 0; } }

.order__row {
  margin-bottom: 1rem;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order__form-block {
  margin-left: 0.625rem;
  position: relative;
  font-size: 0.875rem;
  font-weight: 300; }
  .order__form-block:first-child {
    margin-left: 0; }

.order__form-label {
  cursor: pointer;
  margin-bottom: 0.3125rem; }

.order__form-input {
  font-weight: 300;
  font-size: 0.875rem;
  padding: 0.5rem 1.25rem;
  width: 100%;
  border: none;
  border: 1px solid #d1cfcb;
  border-radius: 0.3125rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.order__form-block {
  width: 100%; }

.order__form-textarea {
  height: 6.875rem;
  resize: none; }

.order__form-radio {
  position: absolute;
  bottom: 0.1875rem; }

.order__radio {
  display: inline-block;
  margin-left: 1.25rem; }

.order__form-checkbox {
  position: absolute;
  bottom: 0.1875rem; }

.order__form-check {
  margin-left: 1.25rem; }

.order-button {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order__btn {
  margin-right: 0.625rem; }

.btn__input {
  color: #ffffff;
  min-width: 6.25rem;
  display: inline-block;
  border-radius: 7px;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background: #e45028;
  border: none;
  font-size: 0.875rem;
  font-weight: 300; }

.btn__input_reset {
  text-transform: none;
  background: transparent; }

.footer {
  position: relative; }
  @media screen and (max-width: 768px) {
    .footer {
      height: 40.625rem; } }

.yandex-map {
  height: 100%;
  width: 100%; }

.map__hint, .map__balloon {
  width: auto;
  height: 2.5rem;
  font-size: 0.875rem;
  background: orange;
  color: #fff;
  padding: 0.625rem;
  font-weight: 700;
  border-radius: 0.3125rem;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.map__balloon {
  background: brown; }

.footer__information {
  position: absolute;
  height: 7.5rem;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 0.625rem 0; }

.footer__contacts {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-top: 0.9375rem; }
  @media screen and (max-width: 480px) {
    .footer__contacts {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-pack: center;
      justify-content: center;
      -ms-flex-pack: center; } }

.contacts__text {
  width: 50%;
  font-size: 0.875rem;
  color: #ffffff; }
  @media screen and (max-width: 480px) {
    .contacts__text {
      width: 100%;
      text-align: center;
      margin-bottom: 0.625rem; } }

.text__adress {
  font-weight: 300;
  margin-bottom: 0.5rem; }

.nomber__phone {
  color: #e45028;
  text-decoration: none;
  font-weight: bold;
  display: block;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nomber__phone:hover {
    color: #c1401e; }

.nomber__phone span {
  display: inline-block;
  padding-right: 0.9375rem; }

.social__network {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .social__network {
      width: 100%; } }

.social {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .social {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-pack: center;
      justify-content: center;
      -ms-flex-pack: center; } }

.socials__item {
  margin-left: 1.125rem;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.socials__item:first-child {
  margin-left: 0; }

.socials__link-icon {
  fill: #ffffff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .socials__link-icon:hover {
    fill: #e45028; }

.nav_sidebar {
  position: fixed;
  left: 90%;
  top: 15%; }
  @media screen and (max-width: 768px) {
    .nav_sidebar {
      display: none; } }

.site__item {
  position: relative;
  width: 10px;
  height: 10px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer; }
  .site__item::after {
    position: absolute;
    left: -5px;
    top: -5px;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0; }

.site__item:hover::after {
  opacity: 1; }

/*# sourceMappingURL=main.css.map */