.advantages{
	background: url("../images/bg/bg2.jpg") center center / cover no-repeat;
	@include flex;
	@include flex-direction(column);
	@include justify-content(center);
}
	.advantages__company{
		@include flex;
		@include flex-direction(column);
	}
		.section__title-grey{
			text-align: center;
			color: #2f3234;
			margin-bottom: rem(44px);
		}
		.company__differences{
			@include flex;
			@include justify-content(space-between);
		}
			.difference{
				width: 33.333%;
				@include flex;
				@include flex-direction(column);
				margin-bottom: rem(50px);
				padding: 0 rem(15px);
				text-align:center;
			}

				.difference__image{
					margin-bottom:rem(26px);
					
					&:last-child{
						margin-bottom:rem(28px);
					}
				}

				.difference__title{
					margin:0;
					font-size:rem(24px);
					font-family: 'Lifehack_Medium';
					color:$text_all;
				}
				.difference__text{
					font-size:rem(14px);
					font-weight: 300;
					color: #838281;
					line-height: 1.6;
				}