.comments{
		@include flex;
		@include flex-wrap(wrap);
		color:$text_color;
	}	
		.comment{
			width:25%;
			height:50%;
			position: relative;
			
			@include tablets() {
				width:50%;
				height: rem(257px);
			}
		}
		.comment__shadow{
			background-color: rgba(0,0,0,0.65);
			width:100%;
			height:100%;
		}
			.comment__foto{
				background-position: top center;
				background-repeat: no-repeat;
				background-size: cover;
			}			
				.comment__info{
					font-size: rem(14px);
					text-align: left;
					padding: 15% 10%;
					position: absolute;
					width: 100%;
					height: 100%;
					opacity: 0;
					transition: 1s;

					&:hover{
						opacity: 1;
					}
					@include tablets() {
						padding: 6% 3%;
						text-align: center;
					}
					@include phones() {
						@include flex;
						@include flex-direction(column);
						@include justify-content(center);
					}
				}
					.info__author{
						font-family: 'GagalinRegular';
						text-transform: uppercase;
						letter-spacing: 1.5px;
						
						@include phones() {
							font-size: rem(24px);
							margin-bottom: rem(15px);
						}
					}
					.info__text{
						line-height: 1.8;
						font-weight: 300;
						
						@include phones() {
							display: none;
						}
					}
						.btn__comment{
							background-color: #2f3234;
							width: rem(115px);
							
						&:hover {
							background-color: rgb(31, 33, 34);
						  }
						}