.first-screen{
	background: url('../images/bg/salat_bg.jpg') center center / cover no-repeat;
}
	.container-first{
		height: 100%;
		@include flex;
		@include justify-content(center);
		@include  align-items(center);
		@include flex-direction(column);
	}
	.header{
		width: 100%;
		@include flex;
		@include justify-content(space-between);
		@include  align-items(center);
		padding-top: rem(10px);
		}
		.header__logo{
			margin-right: auto;
		}
			.logo__image{
				position: relative;
				z-index: 1001;
			}
		.header__menu{
			@include flex;
			@include flex-wrap(wrap);
			list-style-type: none;
			transition: all .4s;
			
			@include tablets() {
				position: fixed;
				top:0;
				right:0;
				bottom:0; 
				left:0;
				background: #2f3234;
				z-index: 100;
				align-items: center;
				@include flex-direction(column);
				@include justify-content(center);
				transform: translateX(-100%);
			}
		}
			.menu__item{
				margin-right: rem(20px);
				position: relative;
				
				&::before{
					position: absolute;
					top: rem(1px);
					left: rem(-13px);
					display: inline-block;
					vertical-align: middle;
					color: $text_color; /* Цвет маркера */
					content: "\2022 "; /* Сам маркер */
					padding-right: rem(10px);
				}
				&:hover{
					color:$red;
					transition: .5s;
				}
				
				@include tablets() {
					margin-right: 0;
					margin-bottom: rem(40px);
					width: rem(150px);
					text-align: center;
					
					&::before{
						top:rem(-35px);
						left: rem(71px);
						font-size: rem(24px);
					}
				}
			}
			.header__menu .menu__item:first-child:before{
				content: " "; /* Сам маркер */
			}
				.menu__link{
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;
					color:$text_color;
					font-size: rem(13px);
					
					@include tablets() {
						font-size: rem(24px);
					}
				}

				.menu__link:hover{
					color:$red;
					transition: .5s;
				}
			.btn__header{
				background-color: $red;
				
				&:hover{
					background-color: $btn_hover;
				}
			}
/*********************   Гамбургер меню     *********************/
			.dropdown__menu{
				display: none;
				cursor: pointer;
				margin-left: rem(25px);

				@include tablets() {
					display: block;
				}			
			}
				.drop{
					display: block;
					width: rem(25px);
					height: rem(5px);
					background: $text_color;
					margin-bottom: rem(4px);
					border-radius: rem(2px);
				}
			.close{/***********КРЕСТИК**********/
				z-index: 1001;
				display: none;
				
				& a {
					text-decoration: none;
					text-transform: uppercase;
					color:$text_color;
					font-size: rem(24px);
				}
			}

	.header__content{
		@include flex;
		@include flex-grow(1);
		@include justify-content(space-between);
		@include  align-items(center);
		margin-bottom: rem(5px);
		
		@include tablets() {
			@include flex-direction(column);
		}
	}
	.content__burgers{
		@include flex-grow(1);
	}
		.content__image{
			max-width: 100%;
		}
	.content__text{
		margin-left: rem(20px);
		margin-top: rem(60px);
		@include flex-grow(1);
	}
		.section__title-yellow{
			color: $orange;
			margin-bottom: rem(30px);
			text-align: left;
			
			@include tablets() {
				margin-bottom: rem(20px);
				text-align: center;
			}
		}
			
		.header__subtitle{
			font-size: rem(65px);
			color: $text_color;
			font-family: 'Lifehack_Medium';
			text-transform: lowercase;
			display: inline-block;
			margin-top: 0;
			line-height: 1;
			
			@include tablets() {
				text-align: center;
			}
			@include phones() {
				font-size: rem(52px);
			}
		}
	.arrow{
		@include flex;
		@include justify-content(center);
		margin-bottom: rem(35px);
	}