.first-screen{
	background: url('../images/bg/salat_bg.jpg') center center / cover no-repeat;
}
	.container-first{
		height: 100%;
		@include flex;
		@include justify-content(center);
		@include  align-items(center);
		@include flex-direction(column);
		
	}
	.header{
		width: 100%;
		@include flex;
		@include justify-content(space-between);
		@include  align-items(center);
		padding-top: rem(10px);
		}
		.header__logo{
			margin-right: auto;
		}
			.logo__image{

			}
		.header__menu{
			@include flex;
			@include flex-wrap(wrap);
			list-style-type: none;
		}
			.menu__item{
				margin-right: rem(10px);
				
				&::before{
					display: inline-block;
					vertical-align: middle;
					color: $text_color; /* Цвет маркера */
					content: "\2022 "; /* Сам маркер */
					padding-right: rem(10px);
				}
				&:hover{
					color:$red;
					transition: .5s;
				}
			}
			.header__menu .menu__item:first-child:before{
				content: " "; /* Сам маркер */
			}
				.menu__link{
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;
					color:$text_color;
					font-size: rem(13px);
				}

				.menu__link:hover{
					color:$red;
					transition: .5s;
				}
			.btn__header{
				background-color: $red;
				
				&:hover{
					background-color: $btn_hover;
				}
			}
	.header__content{
		@include flex;
		@include flex-grow(1);
		@include justify-content(space-between);
		@include  align-items(center);
		margin-bottom: rem(5px);
		
		@include tablets() {
			@include flex-direction(column);
		}
	}
	.content__burgers{
		@include flex-grow(1);
	}
		.content__image{
			max-width: 100%;
		}
	.content__text{
		margin-left: rem(20px);
		margin-top: rem(60px);
		@include flex-grow(1);
	}
		.section__title-yellow{
			color: $orange;
			margin-bottom: rem(30px);
		}
			
		.header__subtitle{
			font-size: rem(65px);
			color: $text_color;
			font-family: 'Lifehack_Medium';
			text-transform: lowercase;
			display: inline-block;
			margin-top: 0;
			line-height: 1;
		}
	.arrow{
		@include flex;
		@include justify-content(center);
		margin-bottom: rem(35px);
	}