.footer{
	position: relative;
	
	@include tablets() {
		height: rem(650px);
	}
}
	.yandex-map{
		height: 100%;
		width: 100%;
	}
		.map__hint, .map__balloon{
			width: auto;
			height: rem(40px);
			font-size: rem(14px);
			background: orange;
			color:#fff;
			padding: rem(10px);
			font-weight: 700;
			border-radius: rem(5px);
			@include flex;
			@include  align-items(center);
		}
		.map__balloon{
			background: brown;
		}
	.footer__information{
		position: absolute;
		height: rem(120px);
		left:0;
		bottom: 0;
		right: 0;
		background-color: rgba(0,0,0,0.95);
		padding: rem(10px) 0;
	}
		.footer__contacts{
			@include flex;
			@include flex-direction(row);
			@include justify-content(space-between);
			@include  align-items(stretch);
			margin-top: rem(15px);

			
			@include phones() {
				@include flex-direction(column);
				@include justify-content(center);
			}
		}
			.contacts__text{
				width: 50%;
				font-size: rem(14px);
				color:$text_color;
				
				@include phones() {
					width: 100%;
					text-align: center;
					margin-bottom: rem(10px);
				}
			}
				.text__adress{
					font-weight: 300;
					margin-bottom: rem(8px);
				}
				.text__phone{
					
				}
					.nomber__phone{
						color:$red;
						text-decoration: none;
						font-weight: bold;
						display: block;
						transition: .5s;
						
						&:hover{
							color:$btn_hover;
						}
					}
						.nomber__phone span{
							display: inline-block;	
							padding-right: rem(15px);
							}

			.social__network{
				width: 50%;
				
				@include phones() {
					width: 100%;
				}
			}
				.social{
					@include flex;
					@include justify-content(flex-end);
					height: 100%;
					
					@include phones() {
						@include justify-content(center);;
					}
				}
					.socials__item{
						margin-left: rem(18px);
						@include  align-self(flex-start);
					}
					.socials__item:first-child{
						margin-left: 0;
					}
					.socials__link{

					}
						.socials__link-icon{
							fill: $text_color;
							transition: .5s;
							
							&:hover{
								fill: $red;
							}
						}