.menu{
	background: url("../images/menu__foto/bg_burgers.jpg") center center / cover no-repeat;
	position: relative;
	color:$text_color;
}

	.section__title-white{
		position: absolute;
		top:10%;
		left:10%;
	}
	.nav{
		position: absolute;
		top:0;
		right: 0;
		bottom: 0;
		@include flex;
	}
		.nav__menu{
			@include flex;
		}
		.nav__menu-active{/*************АКТИВНЫЙ КЛАСС*******************/
			.nav__menu-acco{
				&::before{
					background: rgba(#2f3234, 0.95);
				}
			}
			.nav__link{
				color:$orange;
			}
			.nav__text{
				display: block;
			}
		}

			.nav__menu-acco{
				position: relative;
				width: rem(80px);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;	
				
					&::before{
						content: "";
						display: block;
						position: absolute;
						top:0;
						right: 0;
						bottom: 0;
						left: 0;
						background: rgba(#2f3234, 0.8);
					}
			}
				.nav__link{
					display: block;
					text-transform: uppercase;
					color:$text_color;
					white-space: nowrap;
					text-decoration: none;
					text-transform: uppercase;
					font-size: rem(40px);
					font-family: 'GagalinRegular';
					position: absolute;
					bottom: 0;
					left:50%;
					transform: rotateZ(-90deg) translateY(-50%);
					transform-origin: 0 0;
					transition: all 0.3s;
					}
					
				.nav__text{
					display: none;
					position: relative;
					height: 100%;
					background: rgba(#000, .85);
					max-width: 540px;
					width: 100%;
					overflow: hidden;
					line-height: 1.8;
					font-weight: 300;
					font-size: rem(14px);
					padding: rem(60px) rem(30px);
					
					@include phones-comments() {
						overflow-y: scroll;
					}
				}
					.nav__text p{
						margin: 0;
					}