.team {
  background: url("../images/bg/team.gif") no-repeat;
  background-size: cover;
  position: relative;
  color: $text_color;
  font-size: 0.875rem; }

	.team__block {
	  position: absolute;
	  top: 0;
	  right: 0;
	  /*border: 1px solid red;*/
	  width: 50%;
	  height: 100%;
	  @include flex;
	  @include flex-direction(column);
	  @include  align-items(center);
	  @include justify-content(center);
	  @include flex-wrap(nowrap);
	}

		.block {
		 /*border: 1px solid green;*/
		 padding: 8px; }

			.block__title {
				color: #f9b43b;
				font-size: 4.5rem;
				text-transform: uppercase;
				font-family: 'GagalinRegular'; 
				margin-bottom: 25px;
			}
			.accordeon{

			}
/*Анимация-------------------------------------------------------*/
				.unit{
					margin-bottom: 35px;
					

					&:last-child{
						margin-bottom: 0;
					}
				}
				.unit:hover .unit__information {
					height: 100px;

				}
.unit:hover .unit__title span img{
	top:-45px;
}
/*---------------------------------------------------------*/

					.unit__title {
						text-transform: uppercase;
						font-family: 'GagalinRegular';
						text-decoration: none;
						color:$text_color;
						display: block;
						position: relative;
						padding-left: 15px;
						overflow: hidden;
					}
						.unit__title img{
							position: absolute;
							left:0;
							top: 6px;
						}

						.unit__information {
							@include flex;
							@include  align-items(center);
							height: 0;/*Прячет блок с поворами*/
							overflow: hidden;
							margin-left: 10px;
							margin-top: 10px;
							transition: all 1s;//TIME-----------------
						}

							.unit__foto {
							  width: 100px;
							  height: 100px;
							  /*border: 1px solid red;*/
							  border-radius: 50px;
							  background: url("../images/photos/aphex.gif");
							  background-size: cover;
							  background-position: center;
							  margin-right: 14px; }

							.description__title {
							  font-family: 'Ubuntu';
							  font-weight: bold; }

							.description__info {
							  font-family: 'Ubuntu';
							  font-weight: 300; 
							}