@font-face {
  font-family: 'GagalinRegular';
  src: url('../fonts/GagalinRegular/GagalinRegular.woff2') format('woff2'),
       url('../fonts/GagalinRegular/GagalinRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack_Medium';
  src: url('../fonts/Lifehack_Medium/Lifehack_Medium.woff2') format('woff2'),
       url('../fonts/Lifehack_Medium/Lifehack_Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-light/Ubuntu-light.woff2') format('woff2'),
       url('../fonts/Ubuntu/Ubuntu-light/Ubuntu-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-regular/Ubuntu-regular.woff2') format('woff2'),
       url('../fonts/Ubuntu/Ubuntu-regular/Ubuntu-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-medium/Ubuntu-medium.woff2') format('woff2'),
       url('../fonts/Ubuntu/Ubuntu-medium/Ubuntu-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-b/Ubuntu-b.woff2') format('woff2'),
       url('../fonts/Ubuntu/Ubuntu-b/Ubuntu-b.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}



